{% extends 'base.html' %}
{% block contents %}

<div class="text-center font-bold text-2xl mt-10 ">Seller Details</div>

<div class="flex p-10 w-full h-200 bg-purple-50">
<img class="w-1/3 rounded-xl" src="{{seller.profile.image.url}}" alt="loading">
<div class="w-2/3 text-l ml-10 font-semibold">
<div class=" font-bold " >ID : {{seller.id}}</div><br>
<div class="font-bold " >NAME : {{seller.username}}</div><br>
<div class="font-bold " >CONTACT NUMBER : {{seller.profile.contact_number}}</div>
<img class="rounded-lg" style="width:70px" src="{{seller.profile.image.url}}" alt="loading">
</div>
</div>


{% endblock %}

