{% extends "base.html" %}
{% block contents %}
<div class="grid grid-cols-3 grid-flow-row gap-1">


  {% for p in products %}
  <a href="{% url 'myapp:product_details' p.id %}">
    <div class="card w-96 glass mt-10">
      <figure><img src="{{p.image.url}}" alt="loading" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{p.name}}</h2>
        <p>{{p.desc}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">₹{{p.price }}</button>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  {% endblock %}