{% extends "base.html" %}
{% block contents %}
<h1 class="text-2xl font-bold m-10">🖊️EDIT PRODUCT</h1>
<form class="w-2/5 shadow-md m-10 p-10" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Name</label>
        <input class="appearance-none shadow border rounded-lg text-grey-800" value="{{p.name}}" placeholder="Name" type="text" name="name"
            id="name">
    </div>
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Price</label>
        <input class="appearance-none shadow border rounded-lg text-grey-800" value="{{p.price}}" placeholder="price" type="text"
            name="price" id="price">
    </div>
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Description</label>
        <input class="appearance-none shadow border rounded-lg text-grey-800" value="{{p.desc}}" placeholder="Description" type="text"
            name="desc" id="desc">
    </div>
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Image</label>
        <img class="w-36 mb-3 rounded-lg" src="{{p.image.url}}" alt="img not found">
        <input type="file" name="upload" id="upload">
    </div>
    <div class="mb-5">
        <input
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            type="submit" accept="image/*" name="Add product" value="Edit product">
    </div>

</form>


{% endblock %}